/* You can add global styles to this file, and also import other style files */

@use "@angular/material" as mat;

@import "./variables";

@include mat.core();

$my-app-primary: mat.define-palette(mat.$blue-gray-palette, 700);
$my-app-accent: mat.define-palette(mat.$amber-palette, 600);
$my-app-warn: mat.define-palette(mat.$red-palette);

$my-app-theme: mat.define-light-theme(
    (
      color: (
        primary: $my-app-primary,
        accent: $my-app-accent,
        warn: $my-app-warn,
      ),
    )
);

@include mat.all-component-themes($my-app-theme);

@font-face {
  font-family: 'Solitreo';
  src: url('assets/font/Solitreo-Regular.ttf');
}
@font-face {
  font-family: 'Strait';
  src: url('assets/font/Strait-Regular.ttf');
}

html, body {
  height: 100%;
  background-color: #f8eedc;
}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

p, h1, h2, h3, h4, span, div {
  font-family: Solitreo, sans-serif !important;
}

.app-container-padding {
  padding: 2rem;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-column {
  display: flex;
  flex-direction: column;
}
